---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cos-fleetshard-operator-debezium
imagePullSecrets:
  - name: addon-pullsecret
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cos-fleetshard-operator-debezium
rules:
# operator custom resources
- apiGroups:
  - cos.bf2.org
  resources:
  - managedconnectors
  - managedconnectors/status
  - managedconnectors/finalizers
  - managedconnectoroperators
  - managedconnectoroperators/status
  - managedconnectoroperators/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
# managed connector resources
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kafka.strimzi.io
  resources:
  - kafkaconnects
  - kafkaconnectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cos-fleetshard-operator-debezium-events
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cos-fleetshard-operator-debezium
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-operator-debezium
subjects:
- kind: ServiceAccount
  name: cos-fleetshard-operator-debezium
  namespace: placeholder
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cos-fleetshard-operator-debezium-events
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-operator-debezium-events
subjects:
  - kind: ServiceAccount
    name: cos-fleetshard-operator-debezium
    namespace: placeholder
