---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cos-fleetshard-sync
imagePullSecrets:
  - name: addon-pullsecret
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cos-fleetshard-sync-connectors
rules:
# operator custom resources RW
- apiGroups:
  - cos.bf2.org
  resources:
  - managedconnectors
  - managedconnectors/status
  - managedconnectors/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
# managed connector resources
- apiGroups:
    - ""
  resources:
    - secrets
    - namespaces
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cos-fleetshard-sync-quota
rules:
- apiGroups:
    - ""
  resources:
    - resourcequotas
  verbs:
    - delete
    - get
    - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cos-fleetshard-sync-connectors
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-sync-connectors
subjects:
- kind: ServiceAccount
  name: cos-fleetshard-sync
  namespace: placeholder
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cos-fleetshard-sync-quota
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-sync-quota
subjects:
  - kind: ServiceAccount
    name: cos-fleetshard-sync
    namespace: placeholder
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cos-fleetshard-sync-operators
rules:
# operator custom resources RW
- apiGroups:
    - cos.bf2.org
  resources:
    - managedconnectorclusters
    - managedconnectorclusters/status
    - managedconnectorclusters/finalizers
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
# operator custom resources RO
- apiGroups:
    - cos.bf2.org
  resources:
    - managedconnectoroperators
    - managedconnectoroperators/status
    - managedconnectoroperators/finalizers
  verbs:
    - get
    - list
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cos-fleetshard-sync-events
rules:
- apiGroups:
    - ""
  resources:
    - events
  verbs:
    - create
    - patch
    - get
    - list
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cos-fleetshard-sync-addon
rules:
  - apiGroups:
      - operators.coreos.com
    resources:
      - ClusterServiceVersion
    verbs:
      - delete
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cos-fleetshard-sync-addon
roleRef:
  kind: Role
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-sync-addon
subjects:
  - kind: ServiceAccount
    name: cos-fleetshard-sync
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cos-fleetshard-sync-operators
roleRef:
  kind: Role
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-sync-operators
subjects:
  - kind: ServiceAccount
    name: cos-fleetshard-sync
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cos-fleetshard-sync-events
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: cos-fleetshard-sync-events
subjects:
  - kind: ServiceAccount
    name: cos-fleetshard-sync
    namespace: placeholder
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: cos-fleetshard-sync
spec:
  endpoints:
    - interval: 30s
      port: http
      path: /q/metrics
      scheme: http
  selector:
    matchLabels: