version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
      time: "19:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 0
    labels:
      - area/dependencies
    ignore:
      - dependency-name: io.sundr:builder-annotations
      - dependency-name: io.cucumber:cucumber-java
      - dependency-name: io.cucumber:cucumber-java8
      - dependency-name: io.quarkus:*
      - dependency-name: io.quarkiverse.operatorsdk:*
      - dependency-name: org.openapitools:openapi-generator-maven-plugin:*
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "19:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 0
