---
apiVersion: "v1"
kind: "ServiceAccount"
metadata:
  annotations: {}
  labels:
    app.kubernetes.io/name: "cos-fleetshard-sync"
    app.kubernetes.io/part-of: "cos"
    app.kubernetes.io/version: "latest"
  name: "cos-fleetshard-sync"
imagePullSecrets:
- name: "addon-pullsecret"
---
apiVersion: "v1"
kind: "Service"
metadata:
  annotations:
    prometheus.io/path: "/q/metrics"
    prometheus.io/port: "8080"
    prometheus.io/scheme: "http"
    prometheus.io/scrape: "true"
  labels:
    app.kubernetes.io/name: "cos-fleetshard-sync"
    app.kubernetes.io/part-of: "cos"
    app.kubernetes.io/version: "latest"
  name: "cos-fleetshard-sync"
spec:
  ports:
  - name: "http"
    port: 80
    targetPort: 8080
  selector:
    app.kubernetes.io/name: "cos-fleetshard-sync"
    app.kubernetes.io/part-of: "cos"
    app.kubernetes.io/version: "latest"
  type: "ClusterIP"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "Role"
metadata:
  name: "cos-fleetshard-sync-addon"
rules:
- apiGroups:
  - "operators.coreos.com"
  resources:
  - "clusterserviceversions"
  verbs:
  - "delete"
  - "get"
  - "list"
  - "watch"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "Role"
metadata:
  name: "cos-fleetshard-sync-configmaps"
rules:
- apiGroups:
  - ""
  resources:
  - "configmaps"
  verbs:
  - "get"
  - "list"
  - "watch"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "Role"
metadata:
  name: "cos-fleetshard-sync-observability"
rules:
- apiGroups:
  - "observability.redhat.com"
  resources:
  - "observabilities"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
- apiGroups:
  - "operators.coreos.com"
  resources:
  - "subscriptions"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
- apiGroups:
  - ""
  resources:
  - "configmaps"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "Role"
metadata:
  name: "cos-fleetshard-sync-operators"
rules:
- apiGroups:
  - "cos.bf2.org"
  resources:
  - "managedconnectorclusters"
  - "managedconnectorclusters/status"
  - "managedconnectorclusters/finalizers"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
- apiGroups:
  - "cos.bf2.org"
  resources:
  - "managedconnectoroperators"
  - "managedconnectoroperators/status"
  - "managedconnectoroperators/finalizers"
  verbs:
  - "get"
  - "list"
  - "watch"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "RoleBinding"
metadata:
  name: "cos-fleetshard-sync-addon"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "Role"
  name: "cos-fleetshard-sync-addon"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "RoleBinding"
metadata:
  name: "cos-fleetshard-sync-configmaps"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "Role"
  name: "cos-fleetshard-sync-configmaps"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "RoleBinding"
metadata:
  name: "cos-fleetshard-sync-observability"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "Role"
  name: "cos-fleetshard-sync-observability"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "RoleBinding"
metadata:
  name: "cos-fleetshard-sync-operators"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "Role"
  name: "cos-fleetshard-sync-operators"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "RoleBinding"
metadata:
  name: "cos-fleetshard-sync-view"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "ClusterRole"
  name: "view"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRole"
metadata:
  name: "cos-fleetshard-sync-connectors"
rules:
- apiGroups:
  - "cos.bf2.org"
  resources:
  - "managedconnectors"
  - "managedconnectors/status"
  - "managedconnectors/finalizers"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
- apiGroups:
  - ""
  resources:
  - "secrets"
  - "namespaces"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRole"
metadata:
  name: "cos-fleetshard-sync-crds"
rules:
- apiGroups:
  - "apiextensions.k8s.io"
  resources:
  - "customresourcedefinitions"
  verbs:
  - "get"
  - "list"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRole"
metadata:
  name: "cos-fleetshard-sync-events"
rules:
- apiGroups:
  - ""
  resources:
  - "events"
  verbs:
  - "create"
  - "patch"
  - "get"
  - "list"
  - "watch"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRole"
metadata:
  name: "cos-fleetshard-sync-limits"
rules:
- apiGroups:
  - ""
  resources:
  - "limitranges"
  verbs:
  - "create"
  - "patch"
  - "get"
  - "list"
  - "watch"
  - "update"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRole"
metadata:
  name: "cos-fleetshard-sync-quota"
rules:
- apiGroups:
  - ""
  resources:
  - "resourcequotas"
  verbs:
  - "create"
  - "patch"
  - "get"
  - "list"
  - "watch"
  - "update"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRoleBinding"
metadata:
  name: "cos-fleetshard-sync-connectors"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "ClusterRole"
  name: "cos-fleetshard-sync-connectors"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
  namespace: "placeholder"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRoleBinding"
metadata:
  name: "cos-fleetshard-sync-crds"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "ClusterRole"
  name: "cos-fleetshard-sync-crds"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
  namespace: "placeholder"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRoleBinding"
metadata:
  name: "cos-fleetshard-sync-events"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "ClusterRole"
  name: "cos-fleetshard-sync-events"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
  namespace: "placeholder"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRoleBinding"
metadata:
  name: "cos-fleetshard-sync-limits"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "ClusterRole"
  name: "cos-fleetshard-sync-limits"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
  namespace: "placeholder"
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRoleBinding"
metadata:
  name: "cos-fleetshard-sync-quota"
roleRef:
  apiGroup: "rbac.authorization.k8s.io"
  kind: "ClusterRole"
  name: "cos-fleetshard-sync-quota"
subjects:
- kind: "ServiceAccount"
  name: "cos-fleetshard-sync"
  namespace: "placeholder"
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  annotations:
    prometheus.io/path: "/q/metrics"
    prometheus.io/port: "8080"
    prometheus.io/scheme: "http"
    prometheus.io/scrape: "true"
  labels:
    app.kubernetes.io/name: "cos-fleetshard-sync"
    app.kubernetes.io/part-of: "cos"
    app.kubernetes.io/version: "latest"
  name: "cos-fleetshard-sync"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "cos-fleetshard-sync"
      app.kubernetes.io/part-of: "cos"
      app.kubernetes.io/version: "latest"
  template:
    metadata:
      annotations:
        prometheus.io/path: "/q/metrics"
        prometheus.io/port: "8080"
        prometheus.io/scheme: "http"
        prometheus.io/scrape: "true"
      labels:
        app.kubernetes.io/name: "cos-fleetshard-sync"
        app.kubernetes.io/part-of: "cos"
        app.kubernetes.io/version: "latest"
    spec:
      containers:
      - env:
        - name: "KUBERNETES_NAMESPACE"
          valueFrom:
            fieldRef:
              fieldPath: "metadata.namespace"
        - name: "SMALLRYE_CONFIG_SOURCE_FILE_LOCATIONS"
          value: "/mnt/app-secret"
        - name: "SMALLRYE_CONFIG_LOCATIONS"
          value: "/mnt/app-config"
        image: "quay.io/rhoas/cos-fleetshard-sync:latest"
        imagePullPolicy: "Always"
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: "/q/health/live"
            port: 8080
            scheme: "HTTP"
          initialDelaySeconds: 0
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 10
        name: "cos-fleetshard-sync"
        ports:
        - containerPort: 8080
          name: "http"
          protocol: "TCP"
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: "/q/health/ready"
            port: 8080
            scheme: "HTTP"
          initialDelaySeconds: 0
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 10
        resources:
          limits:
            cpu: "1500m"
            memory: "512Mi"
          requests:
            cpu: "500m"
            memory: "256Mi"
        volumeMounts:
        - mountPath: "/mnt/app-config"
          name: "app-config"
          readOnly: false
        - mountPath: "/mnt/app-secret"
          name: "app-secret"
          readOnly: false
      serviceAccountName: "cos-fleetshard-sync"
      volumes:
      - name: "app-secret"
        secret:
          defaultMode: 420
          optional: false
          secretName: "addon-connectors-operator-parameters"
      - configMap:
          defaultMode: 420
          name: "cos-fleetshard-sync-config"
          optional: false
        name: "app-config"