resources:
- ../../../base/apps/cos-fleetshard-sync

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - files:
      - application.properties=app-config/application.properties
    name: cos-fleetshard-sync-config
    behavior: replace

patchesJson6902:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 0
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: "Never"
  target:
    group: apps
    kind: Deployment
    name: cos-fleetshard-sync
    version: v1

patches:
- target:
    group: rbac.authorization.k8s.io
    version: v1
    kind: Role
    name: cos-fleetshard-sync-addon
  patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: Role
    metadata:
      name: cos-fleetshard-sync-addon
- target:
    group: rbac.authorization.k8s.io
    version: v1
    kind: RoleBinding
    name: cos-fleetshard-sync-addon
  patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    metadata:
      name: cos-fleetshard-sync-addon
