name: Build IT

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string
      kubeVersion:
        required: true
        type: string

env:
  LANG: en_US.UTF-8
  MAVEN_OPTS: -Xmx3000m
  MAVEN_ARGS: -V -ntp -Dhttp.keepAlive=false -e

jobs:
  build-it:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Project'
        uses: actions/checkout@v3
      - name: 'Set up JDK 11'
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
      - name: "Download Maven Repo"
        uses: actions/download-artifact@v3
        with:
          name: maven-repo-${{ github.run_id }}
          path: ..
      - name: "Extract Maven Repo"
        shell: bash
        run: |
          df -h /
          tar -xzf ../maven-repo.tgz -C ~
          df -h /
      - name: 'SetUp KinD'
        uses: container-tools/kind-action@v1
        with:
          registry: false
          node_image: kindest/node:${{ inputs.kubeVersion }}
      - name: 'SetUp Kubernetes Cluster'
        run: |
          kubectl apply -k ./etc/kubernetes/manifests/overlays/it
      - name: "Build ${{ inputs.module }}"
        run: |
          ./mvnw ${MAVEN_ARGS} clean install -pl :${{ inputs.module }}