name: Build PR

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'LICENSE'
      - '**/.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'
      - 'etc/kubernetes/manifests/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  LANG: en_US.UTF-8
  MAVEN_ARGS: -V -ntp -Dhttp.keepAlive=false -e

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Project'
        uses: actions/checkout@v3
      - name: 'Set up JDK 11'
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
      - name: "Build"
        run: |
          ./mvnw ${MAVEN_ARGS} clean install -Pskip-it -Psourcecheck
      - name: "Tar Maven Repo"
        shell: bash
        run: |
          tar -czf ${{ runner.temp }}/maven-repo.tgz -C ~ .m2/repository
          ls -lh ${{ runner.temp }}/maven-repo.tgz
          df -h /
      - name: "Persist Maven Repo"
        uses: actions/upload-artifact@v3
        with:
          name: maven-repo-${{ github.run_id }}
          path: ${{ runner.temp }}/maven-repo.tgz
          retention-days: 1

  sync-it:
    needs:
      - build
    uses: ./.github/workflows/build-it.yaml
    with:
      module: "cos-fleetshard-sync-it"
      kubeVersion: 'v1.23.3'

  operator-it:
    needs:
      - build
    uses: ./.github/workflows/build-it.yaml
    with:
      module: "cos-fleetshard-operator-it"
      kubeVersion: 'v1.23.3'

  operator-camel-it:
    needs:
      - build
    uses: ./.github/workflows/build-it.yaml
    with:
      module: "cos-fleetshard-operator-camel-it"
      kubeVersion: 'v1.23.3'

  operator-debezium-it:
    needs:
      - build
    uses: ./.github/workflows/build-it.yaml
    with:
      module: "cos-fleetshard-operator-debezium-it"
      kubeVersion: 'v1.23.3'