name: Build Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "LICENSE"
      - "**/.gitignore"
      - "**.md"
      - "**.adoc"
      - "*.txt"
  workflow_dispatch:

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  LANG: en_US.UTF-8
  IMAGE_TAG: latest
  IMAGE_ADDITIONAL_TAGS: ${{github.ref_name_name}},${{ github.ref_name }}-${{ github.sha }}
  DEPLOY_TAG: ${{ github.ref_name }}-${{ github.sha }}
  MAVEN_ARGS: -V -ntp -Dhttp.keepAlive=false -e
  IMAGE_REPO_USERNAME: ${{secrets.IMAGE_REPO_USERNAME}}
  IMAGE_REPO_PASSWORD: ${{secrets.IMAGE_REPO_PASSWORD}}
  OC_PROJECT: ${{ secrets.K8S_CLUSTER_DEV_NAMESPACE }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes:
          - "v1.22.1"
    outputs:
      camel-k-image: ${{ steps.output-camel-k-image.outputs.camel-k-image }}
      camel-k-newtag: ${{ steps.output-camel-k-image.outputs.camel-k-newtag }}
      strimzi-image: ${{ steps.output-strimzi-image.outputs.strimzi-image }}
    steps:
      - name: "Checkout Project"
        uses: actions/checkout@v2
      - name: "Set up JDK 11"
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          server-id: github
      - name: "Login to quay.io"
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.IMAGE_REPO_USERNAME }}
          password: ${{ secrets.IMAGE_REPO_PASSWORD }}
      - name: "SetUp KinD"
        uses: container-tools/kind-action@v1
        with:
          registry: false
          node_image: kindest/node:${{ matrix.kubernetes }}
      - name: "SetUp Kubernetes Cluster"
        run: |
          kubectl apply -k ./etc/kubernetes/manifests/overlays/it
      - name: "Build and push container images"
        id: "images"
        run: |
          ./etc/scripts/build.sh
          ./etc/scripts/build_image.sh cos-fleetshard-sync
          ./etc/scripts/build_image.sh cos-fleetshard-operator-camel
          ./etc/scripts/build_image.sh cos-fleetshard-operator-debezium
      - name: "Output camel-k image"
        id: output-camel-k-image
        run: |
          export IMAGE=$(yq '.images[].newName' ./etc/kubernetes/manifests/base/apps/camel-k/kustomization.yaml)
          if [[ -z "${IMAGE}" ]]; then
              export IMAGE=$(yq '.images[].name' ./etc/kubernetes/manifests/base/apps/camel-k/kustomization.yaml)
          fi
          export NEWTAG=$(yq '.images[0].newTag' ./etc/kubernetes/manifests/base/apps/camel-k/kustomization.yaml)

          echo "::set-output name=camel-k-image::${IMAGE}"
          echo "::set-output name=camel-k-newtag::${NEWTAG}"
      - name: "Output strimzi image"
        id: output-strimzi-image
        run: |
          export STRIMZI_YAML=$(yq '.resources[0]' ./etc/kubernetes/manifests/base/apps/strimzi/operator/kustomization.yaml)
          wget -q -O strimzi.yaml "${STRIMZI_YAML}"
          export IMAGE=$(yq 'select(.kind=="Deployment").spec.template.spec.containers[0].image' strimzi.yaml)
          echo "::set-output name=strimzi-image::${IMAGE}"

  kustomize:
    env:
      OVERLAY_PATH: kustomize/overlays/${{ matrix.overlay }}/data-plane
    needs: "build"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        overlay:
          - "dev"
    steps:
      - name: "Checkout cos-manifests project"
        uses: actions/checkout@v2
        with:
          repository: bf2fc6cc711aee1a0c2a/cos-manifests
          token: ${{ secrets.PR_TOKEN }}
          ref: main

      - name: "Login to quay.io"
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.IMAGE_REPO_USERNAME }}
          password: ${{ secrets.IMAGE_REPO_PASSWORD }}

      - name: "Update Kustomize overlay ${{ matrix.overlay }}"
        env:
          XDG_RUNTIME_DIR: ${{ runner.temp }}/containers
        run: |
          mkdir -p ${XDG_RUNTIME_DIR}

          for APP in cos-fleetshard-sync cos-fleetshard-operator-camel cos-fleetshard-operator-debezium; do
            export IMAGE=quay.io/rhoas/${APP}
            export SHA256=$(skopeo inspect docker://${IMAGE}:${DEPLOY_TAG} --format "{{.Digest}}")

            echo "APP: ${APP}"
            echo "IMAGE: ${IMAGE}"
            echo "SHA256: ${SHA256}"
            echo "OVERLAY_PATH: ${OVERLAY_PATH}"

            yq -i '.images[] |= select(.name == strenv(IMAGE)).digest = strenv(SHA256)' ${OVERLAY_PATH}/kustomization.yaml
            yq -i 'del(.images[] | select(.name == strenv(IMAGE)).newTag)' ${OVERLAY_PATH}/kustomization.yaml
          done
      - name: "Update Camel K Kustomize overlay ${{ matrix.overlay }}"
        env:
          XDG_RUNTIME_DIR: ${{ runner.temp }}/containers
        run: |
          mkdir -p ${XDG_RUNTIME_DIR}

          export IMAGE=${{ needs.build.outputs.camel-k-image }}
          export NEWTAG=${{ needs.build.outputs.camel-k-newtag }}
          export SHA256=$(skopeo inspect docker://${IMAGE}:${NEWTAG} --format "{{.Digest}}")

          echo "IMAGE: ${IMAGE}"
          echo "NEWTAG: ${NEWTAG}"
          echo "SHA256: ${SHA256}"
          echo "OVERLAY_PATH: ${OVERLAY_PATH}"

          if [[ -z $(yq '.images[] | select(.name == strenv(IMAGE))' ${OVERLAY_PATH}/kustomization.yaml) ]]; then
              yq -i '.images += {"name": strenv(IMAGE), "digest": strenv(SHA256)}' ${OVERLAY_PATH}/kustomization.yaml
          else
              yq -i '.images[] |= select(.name == strenv(IMAGE)).digest = strenv(SHA256)' ${OVERLAY_PATH}/kustomization.yaml
          fi

      - name: "Update Strimzi Kustomize overlay ${{ matrix.overlay }}"
        env:
          XDG_RUNTIME_DIR: ${{ runner.temp }}/containers
        run: |
          mkdir -p ${XDG_RUNTIME_DIR}

          export IMAGE=${{ needs.build.outputs.strimzi-image }}
          export IMAGE_NAME=$(printf '%s' "$IMAGE" | cut -f 1 -d ':')
          export SHA256=$(skopeo inspect "docker://$IMAGE" --format "{{.Digest}}")

          echo "IMAGE: ${IMAGE}"
          echo "IMAGE_NAME: ${IMAGE_NAME}"
          echo "SHA256: ${SHA256}"
          echo "OVERLAY_PATH: ${OVERLAY_PATH}"

          if [[ -z $(yq '.images[] | select(.name == strenv(IMAGE_NAME))' ${OVERLAY_PATH}/kustomization.yaml) ]]; then
              yq -i '.images += {"name": strenv(IMAGE_NAME), "digest": strenv(SHA256)}' ${OVERLAY_PATH}/kustomization.yaml
          else
              yq -i '.images[] |= select(.name == strenv(IMAGE_NAME)).digest = strenv(SHA256)' ${OVERLAY_PATH}/kustomization.yaml
          fi

      - name: "Create PR for ${{ matrix.overlay }}"
        env:
          BRANCH_NAME: "overlay.${{ matrix.overlay }}.${{ env.DEPLOY_TAG }}"
          GH_TOKEN: ${{ secrets.PR_TOKEN }}
        run: |
          echo ""
          echo "tag     : $DEPLOY_TAG"
          echo "branch  : $BRANCH_NAME"
          echo ""
          cat ${OVERLAY_PATH}/kustomization.yaml
          echo ""

          git config user.email "mas-connectors@redhat.com" 
          git config user.name "mas-connectors"

          git checkout -b ${BRANCH_NAME}
          git add ${OVERLAY_PATH}
          git commit -m "Update cos-fleetshard kustomization images for overlay ${{ matrix.overlay }}" ${OVERLAY_PATH}
          git reset --hard
          git push -u origin ${BRANCH_NAME}

          # GH CLI can't find the branch on remote... needs some time :)
          sleep 15

          gh config set prompt disabled

          gh pr create \
            --fill \
            --base main \
            --title "chore(kustomize): update cos-fleetshard kustomization images overlay ${{ matrix.overlay }}" \
            --body "sha: ${{ github.sha }}, overlay: ${{ matrix.overlay }}, tag: ${DEPLOY_TAG}"
