name: Build E2E

on:
  workflow_call:
    inputs:
      feature:
        required: true
        type: string
      kubeVersion:
        required: true
        type: string

env:
  LANG: en_US.UTF-8
  MAVEN_OPTS: -Xmx3000m
  MAVEN_ARGS: -V -ntp -Dhttp.keepAlive=false -e

jobs:
  build-e2e:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Project'
        uses: actions/checkout@v3
      - name: 'Set up JDK 11'
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: "Download Maven Repo"
        uses: actions/download-artifact@v3
        with:
          name: maven-repo-${{ github.run_id }}
          path: ..
      - name: "Extract Maven Repo"
        shell: bash
        run: |
          df -h /
          tar -xzf ../maven-repo.tgz -C ~
          df -h /

      - name: "Build Container Images"
        run: |
          ./mvnw ${MAVEN_ARGS} clean install -DskipTests=true -Pcontainer-build

      - name: 'Install KinD'
        uses: container-tools/kind-action@v2
        with:
          registry: false
          node_image: kindest/node:${{ inputs.kubeVersion }}

      - name: 'SetUp KinD'
        run: |
          ./etc/scripts/setup_kind_e2e.sh

      - name: "Run ${{ inputs.features }}"
        run: |
          ./mvnw ${MAVEN_ARGS} clean install -pl :cos-fleetshard-operator-e2e -Pe2e -Dtest=${{ inputs.feature }}Test